@media only screen and (max-width: 575px){
    .herosection{
        height: 20em;
        background-image: url("../IMG/bg2.jpg");
        background-size: cover;
        box-shadow: inset 0 0 0 2000px rgba(44, 51, 29, 0.589);
   
    }

    #title{
        font-size: 30pt !important;
        margin: -5em auto 0 1em;
    }

    #motto{
        // font-size: 40pt !important;
        margin: 1em 0 9em 3em;
        font-size: 10pt;
    }

    h3{
        padding-top: 1em;
    }
}